*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/caches/build_file_checksums.ser
release/mobile-release.apk
*.apk
release/output.json
*.ser
.idea/modules.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
*.aab
*.aab
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/deploymentTargetDropDown.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
assests/screenshot_ohone_6.png
